# data types in python
1. different vatype of values assigned to variable
2. basically 3 data types in python
3. int(integer) - numerical values like 1,2,3,4.....n
4. str(string) - characters examples "abcd", 'ghjk',"qwerty"
5. float(decimals) - numerical with decimals - 10.25,100.25,125.35

In [1]:
name="eekshitha"
age=25
salary=100023.25
data="123"
print(name)
print(age)
print(salary)
print(data)
print(type(name))
print(type(age))
print(type(salary))
print(type(data))

eekshitha
25
100023.25
123
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
# concatenations
a=100
b=200
print(a+b)

300

In [3]:
n1="python"
n2="programming"
print(n1+n2)

pythonprogramming

In [5]:
a=100
b="300"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'